body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 50%;
    max-width: 600px;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: hsl(240, 86%, 47%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #50f011;
}

p {
    font-size: 18px;
    color: #0d1ed9;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #f50f86;
    border-radius: 5px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Ajuste para el padding y el borde */
}